*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 255, 189);
  font-family: "Oswald", sans-serif;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.header__title {
  font-size: 2rem;
  grid-row: 2;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
}
.header__menu-button {
  grid-row: 1;
  grid-column: 1;
}

.menu {
  display: none;
}
