*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 255, 189);
  color: rgb(8, 13, 20);
  font-family: "Oswald", sans-serif;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 3fr;
}
.header__title {
  font-size: 2rem;
  grid-row: 1/3;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  margin: 0;
}
.header__menu-button {
  grid-row: 1;
  grid-column: 1;
  background-color: transparent;
  border: none;
  width: 70px;
}
.header__menu-button > img {
  width: 100%;
}
.header__info {
  grid-row: 1;
  grid-column: 4;
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  letter-spacing: 0.4rem;
}

.menu {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 39rem;
}
.menu__item {
  display: flex;
  justify-content: center;
}
.menu__link {
  padding: 0.2rem;
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
}
.menu__link--selected {
  color: rgb(255, 141, 172);
  text-decoration: line-through rgb(255, 141, 172);
}

.secondary-content__pictures, .secondary-content {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content__media {
  display: flex;
  justify-content: center;
}
.main-content__pic {
  width: 100%;
  height: 100%;
}
.main-content__video {
  display: none;
}
.main-content__title {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  text-align: center;
}
.main-content__description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.secondary-content {
  align-items: center;
}
.secondary-content__title {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  transform: scaleY(0.9);
}
.secondary-content__link {
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
}
.secondary-content__picture {
  padding: 10px 0;
  margin: 0;
  max-width: 600px;
}
.secondary-content__picture > img {
  width: 100%;
}
.secondary-content__picture > figcaption {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: rgb(8, 13, 20);
  color: rgb(22, 255, 189);
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  margin-top: 60px;
}
.footer__title {
  font-weight: 200;
  letter-spacing: 0.4rem;
}
.footer__title > span {
  text-decoration: line-through red;
}
.footer > div {
  height: 100%;
  padding-top: 9rem;
}
.footer .footer__card-sns, .footer .footer__card {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__card-sns > dt, .footer .footer__card > dt {
  color: white;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}
.footer .footer__card-sns > dd, .footer .footer__card > dd {
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  margin: 0;
}
.footer__card-sns > dd {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
.footer__card-sns > dd > img {
  width: 45px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.about-content__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-content__description > p {
  text-align: center;
}
.about-content__description-title {
  font-size: 0.9rem;
}
.about-content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-content__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content__details > p {
  text-align: center;
}
.about-content__details-title {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .header__menu-button {
    display: none;
  }
  .header__info {
    display: none;
  }

  .menu {
    display: initial;
    grid-row: 1;
    grid-column: 2/4;
    position: absolute;
    top: 5rem;
    min-width: 100vw;
  }
  .menu__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0 5%;
  }
  .menu__list ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    min-width: 15rem;
  }
  .menu__link {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.4rem;
  }

  .main-content__pic {
    display: none;
  }
  .main-content__video {
    display: initial;
  }

  .secondary-content__pictures {
    flex-direction: row;
  }

  .footer.footer.footer {
    width: 100vh;
  }
  .footer.footer.footer__title {
    grid-row: 1;
    grid-column: 5/8;
  }
  .footer.footer.footer > div {
    padding: 0;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer.footer.footer > div > dl {
    align-items: flex-start;
  }
  .footer.footer.footer > div > dl:first-of-type {
    grid-row: 1;
    grid-column: 2;
  }
  .footer.footer.footer > div > dl:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;
  }
  .footer.footer.footer > div > dl:nth-of-type(3) {
    align-items: center;
    grid-row: 1;
    grid-column: 4;
  }
  .footer.footer.footer > div > dl:nth-of-type(4) {
    align-items: flex-end;
    grid-row: 1;
    grid-column: 6;
  }
  .footer.footer.footer > div > dl:nth-of-type(5) {
    align-items: flex-end;
    grid-row: 2;
    grid-column: 6;
  }
  .footer.footer.footer > div > dl:last-of-type {
    align-items: flex-end;
    grid-row: 3;
    grid-column: 6;
  }

  .about-content__container {
    flex-direction: row;
  }
  .about-content__details {
    padding: 5px;
  }
}
